* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav{
	
 	background:#7F979D;
 	height: 80px;
 	width: 100%;
 	box-shadow: 3px 3px 10px 0 #2C3639;
 	min-height:80px;
 	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 1000;
 }

.Enlace{
	position: absolute;
	padding: 10px 30px;
	display: flex;
	align-items: center;
 }

.Logo{
	filter: invert(10%);
	height:60px ;
	}

nav ul{
	float: right;
	margin-right:40px ;	
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 10px ;
	
} 

nav ul li a{
	color: #CCCC;
	font-size: 13px;
	text-decoration: none;
	padding: 5px 5px;
	border-radius: 3px;
	text-transform:uppercase ;
	font-weight: 600;
	}

li a:hover{
	color:#EFEBE9;
	text-shadow: 3px 2px 20px #FBEEE6;
	transition: .5s;
}

.checkbtn {
	font-size: 20px;
	color: #cccc;
	float: right;
	margin-right:40px ;
	line-height: 80px;
	cursor: pointer;
	display:none;
}

#check {
	display: none;
}


article {
	background: url(fondo.jpeg) no-repeat;
	background-size: cover;
	background-position: center center;
	height:100vh ;
	width:100% ;
	filter: invert(10%);
}

@media only screen and  (max-width: 950px){
	.Enlace{
		padding: 10px 10px;
	}
	nav ul{
		margin-right: 20px;

	}
	nav ul li{
		margin: 0 10px;
	}
	nav ul li a{
		font-size: 11px;
	}
}

@media only screen and (max-widht: 700px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height:100% ;
		background:#004D40 ;
	}
}

section h2 {
	position: relative;
	display: block;
	text-align: center;
	font-size: 20px;
	color:#444748;
	top:150px;
	text-shadow: 2px 1px 10px #807D65;
	cursor: default;
	
}

section div {
	display:flex;
	flex-direction: column;
	justify-content:center;
	margin: auto;
	margin-top:200px ;
	font-size: 15px;
	background: #EFEBE9;
	box-shadow: 1px 1px 10px #8C8C88;
	border-radius: 5%;
	height: 350px;
	width: 350px;
}

.Usuario {
	margin: auto;
	margin-top: 50px;
	width: 250px;
	height: 35px;
	border-radius: 5px;
	background:#cccc;
	border: 1px solid #BAB7B7; 
}
.Contraseña {
	margin: auto;
	margin-top: 20px;
	border-radius:5px;
	margin-top:1px ;
	margin-bottom: 0;
	background:#cccc;
	border: 1px solid #BAB7B7;
	width: 250px;
	height: 35px;
}
.Sesion-inicio {
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	background:#7F979D;
	color: #EFEBE9 ;
    border: 1px solid #839192;
    width: 150px;
	height: 40px;
}
.Sesion-inicio a {
	text-decoration: none;
	color: #EFEBE9;
}
.Sesion-inicio:hover{
	background: #6B868C;
	transition: .2s;
}
.Sesion-inicio a:hover {
	color: #EFEBE9;
}
.Recuperacion {
	margin: auto;
	font-size: 13px;
	border-radius: 5px;
	text-decoration: none;
	color: #7F979D;
}
.Recuperacion:hover{
	color: #607D8B;
	text-shadow: 1px 1px 5px #839192;
}
.Registro {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	border-radius: 5px;
	background:#37575F;
    border: .5px solid #455A64;
    width: 200px;
	height: 40px;
}
.Registro a {
	text-decoration: none;
	color: #EFEBE9;
}
.Registro:hover {
	background: #1E363D ;
	transition: .2s;
}
.Registro a:hover {
	color: #EFEBE9;
}
*/

/*.nav_ul {

	background:#263238;
	min-height:80px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}*/

/*

header a{
	text-decoration: none;
}



.nav{
	background-color:#263238 ;
	min-height:60px;
	box-shadow: 3px 3px 10px 0 #2C3639;
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.nav_li{
	display: inline-block;
	padding:12px ;
	color: #FFFFFF ;
}

.nav_li:hover > a {
	color: #CCCCCC;
}

.nav_li:hover{
	color: #CCCCCC;
}

.nav_li a {
	color: #FFFFFF;
	text-decoration: none;
}

.nav_li i{
	width:30px ;
	box-sizing: border-box;
	text-align: right;
}

.nav_responsive-button {
	float: right;
	font-size: 25px;
	padding: 6px 20px;
}

.nav_responsive-li {
	color: #FFFFFF;
}

.nav_responsive-li:hover > a {
	color: #CCCCCC;

}

@MEDIA only screen and (max-width: 500px){
	.nav_ul {
		display:none ;
	}
	.nav {
		height:37px ;
		width:100% ;
		background-color: #526975;
	}
	.nav_responsive-ul {
		display: flex;
		flex-direction:column;
		align-items: center;
		background-color:#3a4d57 ;
	}

	.nav_responsive-li {
		width: 100%;
	}
	.nav_responsive-li i {
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		
	}
}

.cuerpo { 
	margin-top:20px ;
}

.perfil {
	width:100px; 
	height:100px;
	border-radius:50% ;
	position: relative;
}


.nombre {
	font-size:16px ;
	text-align: center;
}

.localidad {
	text-align: center;
}

.puesto {
	font-size:14px ;
	font-weight:1100 ;
	text-align: center;
}

.descripcion {
	font-size: 15px;
	text-align: center;
	margin-bottom:30px ;
	padding-left:50px ;
	padding-right:50px ;
}

.skills {
	display: inline-block;
}

.experiencia {
	width:180px ;
	height:200px ;
	border-radius:10% ;
	border:3px outset #D4E6F1;
	box-shadow:2px 4px 20px 0 #000000 ;
	background-color:#D4E6F1 ;
}

.educacion {
	width:180px ;
	height:200px ;
	border-radius:10% ;
	border:3px outset #D4E6F1;
	box-shadow:2px 4px 20px 0 #000000 ;
	background-color:#D4E6F1 ;
}

.skills {
	width:180px ;
	height:200px ;
	border-radius:10% ;
	border:3px outset #D4E6F1;
	box-shadow:2px 4px 20px 0 #000000 ;
	background-color:#D4E6F1 ;
}

.proyectos {
	width:180px ;
	height:200px ;
	border-radius:10% ;
	border:3px outset #D4E6F1;
	box-shadow:2px 4px 20px 0 #000000 ;
	background-color:#D4E6F1 ;
}

.intereses {
	width:180px ;
	height:200px ;
	border-radius:10% ;
	border:3px outset #D4E6F1;
	box-shadow:2px 4px 20px 0 #000000 ;
	background-color:#D4E6F1 ;
}

footer {
	/*line-height:2 ;
	margin-top:20px ;
	padding-left:10px ;
	background-color:#9575CD
}*/

