.navbar {
	background-color:#D1C4E9;
}

.navbar-nombre{
	font-size:1em ;
	line-height:2 ;
	font-weight: 500;
    font-family: sans-serif;
	color:#FDFEFE ;
}

.img { 
	width:30px; 
	height:24px;
}

.navbar-brand {
	display:inline-block; 
	margin:0 auto; 
	width:100%;
}

.btn{}

.perfil {
	width:5cm; 
	height:5cm;
}

footer {
	background-color:#9575CD
}

* {
	box-sizing: border-box;
}